@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

html.sr .load-hidden {
  visibility: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  scrollbar-gutter: stable both-edges;
}

/* Track */
::-webkit-scrollbar-track {
  background: auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

.cursor-shirt {
  cursor: url("/images/cursor/shirt.png") 10 10, pointer;
}

.cursor-laptop {
  cursor: url("/images/cursor/laptop.png") 10 10, pointer;
}

.cursor-skin {
  cursor: url("/images/cursor/skin.png") 10 10, pointer;
}

.cursor-sleeve {
  cursor: url("/images/cursor/sleeve.png") 10 10, pointer;
}
