@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

html.sr .load-hidden {
  visibility: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  scrollbar-gutter: stable both-edges;
}

/* Track */
::-webkit-scrollbar-track {
  background: auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

.shirt {
  cursor: url("/images/cursor/shirt.ico"), auto;
}

.skin {
  cursor: url("/images/cursor/skin.ico"), auto;
}

.laptop {
  cursor: url("/images/cursor/laptop.ico"), auto;
}
